# --- Python ---
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# --- Logs / temp ---
*.log
*.tmp

# --- Secrets ---
.env
token.json

# --- OS / Editor ---
.DS_Store
Thumbs.db
.vscode/
.idea/
